::-webkit-scrollbar {
    width: 8px;
  }
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

body {
    background-color: #fff;
    font-family: 'Karla', sans-serif; }
    
h1 > a {
      text-decoration:none;
      color:#fff !important;
  }
  
.intro-section {
    background-image: url(src/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 75px 95px;
    min-height: 100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    color: #ff9500; }
    @media (max-width: 991px) {
    .intro-section {
        padding-left: 20px;
        padding-right: 50px; } }
    @media (max-width: 767px) {
      .intro-section {
        padding: 28px; } }
    @media (max-width: 575px) {
      .intro-section {
        min-height: auto; } }
  
.brand-wrapper .logo {
    height: 35px; }
  
    @media (max-width: 767px) {
    .brand-wrapper {
      margin-bottom: 35px; } }
  
.intro-content-wrapper {
    width: 410px;
    max-width: 100%;
    margin-top: auto;
    margin-bottom: auto; }

    .intro-content-wrapper .intro-title {
      color:  #ed8a00;
      -webkit-text-stroke-width: 0.0001px;
    -webkit-text-stroke-color: #ed8a00;
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 17px; }
    .intro-content-wrapper .intro-text {
        color: #000000;
        font-weight: bold;
        font-size: 19px;
        line-height: 1.37; }
    .intro-content-wrapper .btn-read-more {
      background-color: #000000;
      padding: 13px 30px;
      border-radius: 10px;
      font-size: 16px;
      font-weight: bold;
      color: #ed8a00; }
      .intro-content-wrapper .btn-read-more:hover {
        background-color: #ed8a00;
        border: 1px solid #ed8a00;
        color: #000000; }
  
  .form-section {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center; }
    @media (max-width: 767px) {
      .form-section {
        padding: 35px; } }
  
.login-wrapper {
    width: 300px;
    max-width: 100%; }
    @media (max-width: 575px) {
    .login-wrapper {
        width: 100%; } }
    .login-wrapper .form-control {
      border: 0;
      border-bottom: 1px solid #e7e7e7;
      border-radius: 0;
      font-size: 14px;
      font-weight: bold;
      padding: 15px 10px;
      margin-bottom: 7px; }
    .login-wrapper .form-control::-webkit-input-placeholder {
      color: #b0adad; }
    .login-wrapper .form-control::-moz-placeholder {
      color: #b0adad; }
    .login-wrapper .form-control:-ms-input-placeholder {
      color: #b0adad; }
    .login-wrapper .form-control::-ms-input-placeholder {
      color: #b0adad; }
    .login-wrapper .form-control::placeholder {
      color: #b0adad; }
  
  .login-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px; }
  
  .login-btn {
    padding: 13px 30px;
    background-color: #000;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #ed8a00; }
  .login-btn:hover {
      border: 1px solid #ed8a00;
      background-color: #ed8a00;
      color: #000; }
  
  .forgot-password-link {
    font-size: 14px;
    color: #080808;
    text-decoration: underline; }   